body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  color: white;
}
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
}
.footer a:visited {
  color: white;
}

.textCenter {
  text-align: center;
}

.itemRight {
  float: right;
}

.itemLeft {
  float: left;
}

.container {
  margin: auto;
  min-width: 100px;
  width: 50%;
  height: auto;
}

.fullWidth {
  width: 100%;
  margin-top: 2%;
}

.app {
  padding-top: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 8rem;
}

.product_img {
  display: block;
  width: 95%;
  max-height: 300px;
  padding: 2.5% 5% 2.5% 5%;
}
.row{
  margin-top: 3em;
  height: 350px;
}

.productitem{
  border: 2px solid rgb(161, 168, 185);
}
.productpicture{
  width: 30%;
  height: auto;
  float: left;
  margin-right: 5%;
}
.productinfo{
   width: 30%;
  float: right;
  margin-right: 35%;
  }